<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBot"
        tools:targetApi="31">
        <activity
            android:name=".actvities.WithdrawScreen"
            android:exported="false" />
        <activity
            android:name=".actvities.BikeBookingDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.KYCDetailsView"
            android:exported="false" />
        <activity
            android:name=".SeekBarTestActivity"
            android:exported="false" />
        <activity
            android:name=".actvities.BikeViewDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".actvities.PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".actvities.TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".actvities.AboutUS"
            android:exported="false" />
        <activity
            android:name=".actvities.ContactUS"
            android:exported="false" />
        <activity
            android:name=".actvities.FAQ"
            android:exported="false" />
        <activity
            android:name=".actvities.ViewBankDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.PersonalInformation"
            android:exported="false" />
        <activity
            android:name=".actvities.TransactionDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.TransactionsHistory"
            android:exported="false" />
        <activity
            android:name=".actvities.EnquiryForm"
            android:exported="false" />
        <activity
            android:name=".actvities.BankAccountDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.MyRidesScreen"
            android:exported="false" />
        <activity
            android:name=".actvities.KYCVerificationScreen"
            android:exported="false" />
        <activity
            android:name=".actvities.UploadKYC"
            android:exported="false" />
        <activity
            android:name=".actvities.ContactDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.PersonalDetails"
            android:exported="false" />
        <activity
            android:name=".actvities.SignupWithEmail"
            android:exported="false" />
        <activity
            android:name=".actvities.VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".actvities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".actvities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>